table{
        width: 50%;
    float: left;
    }
th,td{
    padding: 13px;
    text-align: center;
    border: 2px solid rgb(245, 10, 10);
}
th{
    background-color: rgb(11, 11, 0);
    color: antiquewhite;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    background-color: aquamarine;
}